PORT=3500
DATABASE_URI=mongodb+srv://<db_user>:<db_password>@<cluster-url>/<db_name>?retryWrites=true&w=majority&appName=<appName>
ACCESS_TOKEN_SECRET=replace_with_long_random_string
REFRESH_TOKEN_SECRET=replace_with_long_random_string
FIREBASE_API_KEY=replace_me
FIREBASE_AUTH_DOMAIN=replace_me
FIREBASE_PROJECT_ID=replace_me
FIREBASE_STORAGE_BUCKET=replace_me
FIREBASE_MESSAGING_SENDER_ID=replace_me
FIREBASE_APP_ID=replace_me